<mat-card-content>
  <div class="critique-title">
    <div class="critique">
      <span>Nom de l'attraction</span>
      <span>Nom de l'auteur</span>
      <span>Critique</span>
    </div>
  </div>
  <ng-container *ngFor="let critique of critiques">
    <div class="critique"> <!-- *ngIf="attraction.visible == true" -->
      <span>{{ getAttractionName(critique.attractionId) }}</span>
      <span>{{critique.prenom}} {{critique.nom}}</span>
      <span>{{critique.texte}}</span>
    </div>
  </ng-container>
</mat-card-content>